@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Default colors */
:root {
  --cool-color: #01132d;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #01132d;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
hr {
  border: none;
  height: 2px;
  background-color: #ddd;
}
.hidden {
  display: none;
}

.header {
  border-bottom: 2px solid black;
}
.sub--header,
.top--header {
  /* opacity: 0; */
  /* faking it */
  opacity: 1;
}
.logo {
  /* display: none; */
  /* faking it */
  display: inline-block;
}
.text {
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.top--header {
  animation-name: bounce;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Header styles */
.top--header {
  margin-bottom: 12vh;
}
.top--header.sticky {
  background: red;
  position: fixed;
}

.header--links ul {
  transition: all 0.5s;
}

.header--links ul li {
  list-style: none;
  margin-inline: 30px;
}
.header--links ul li a {
  color: #fff;
  transition: all, 0.3s;
}
.header--links ul li:hover a {
  text-decoration: none;
  color: rgba(253, 189, 49);
}

/* Header text */
.sub--header {
  height: 60vh;
}

.text h1 {
  font-size: 3vw;
  /* line-height: 150px; */
  letter-spacing: 2px;
}

.pretext {
  font-weight: 500;
  text-align: left;
  width: 90%;
  padding: 3px 5px;
  margin-right: 10px;
}

/* Header Buttons */
#btns {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  /* margin-right: 30px; */
  cursor: pointer;
  transition: all 0.5s;
}
.row a:nth-child(1) #btns:hover {
  background: transparent;
  border-color: #fff;
}

.row a:nth-child(2) #btns:hover {
  background: rgba(253, 189, 49);
  border-color: rgba(253, 189, 49);
}
.profile--pics img {
  border-radius: 10%;
  width: 80%;
  height: 60%;
  text-align: center;
  margin: 20px;
}

.ham--icon,
.cancel--icon {
  display: none;
}

/* section 2 About me  */
.about__heading {
  text-align: center;
  margin: 5px 20px;
}
.dummy--pics {
  width: 80%;
}

/* smaller screen responsiveness */
@media screen and (max-width: 800px) {
  .logo {
    font-size: 2.5vw;
    font-weight: 600;
  }
  .top--header {
    margin-bottom: 7vh;
  }

  .profile--pics img {
    order: 1;
    height: 70%;
  }

  .dummy--pics {
    width: 90vw;
    height: 40vh;
  }
  .text h1 {
    font-size: 5vw;
    letter-spacing: 2px;
  }
  .sub--header {
    height: 100%;
  }
  .pretext {
    margin-right: 0;
  }

  .header--links ul {
    display: none;
    background: #fff;
    width: 100vw;
    height: 60vh;
    position: relative;
    top: 3vh;
    right: 10vw;
    z-index: 1;
  }

  .header--links ul li {
    padding: 2rem 6rem;
  }
  .header--links ul li a {
    color: #01132d;
  }
  .ham--icon,
  .cancel--icon {
    font-size: 4vw;
    display: block;
    position: fixed;
    right: 3.25rem;
    top: 5px;
  }
  .cancel--icon {
    display: none;
  }
}

/* larger screen responsiveness */
@media screen and (min-width: 800px) {
  /* Header responsiveness */

  .logo {
    font-size: 4vw;
    font-weight: 700;
  }

  .header--links ul {
    display: flex;
    font-size: 1.5vw;
  }
  /* .header--links ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 1.5vw;
  } */
}
