@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Default colors */
:root {
  --cool-dark: #01132d;
  --cool-orange: rgba(253, 189, 49);
  --titles: #ff851b;
  --white: #fff;
  --black: #333;
}
body {
  min-height: 100vh;
  background: #01132d;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  background: #01132d;
  color: #fff;
  transition: all 1s;
  overflow: hidden;
}
hr {
  border: none;
  height: 2px;
  background-color: #ddd;
}
.hidden {
  display: none;
}
.container.dark {
  background: white;
  color: #333;
  transition: all 1s;
}
.sub-header,
.top-header {
  opacity: 0;
}
.logo {
  display: none;
}
.text {
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.nav {
  animation-name: bounce;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Header styles */
#header {
  width: 100%;
  margin: 0.75rem;
}
.nav {
  width: 100%;
  margin: 0 1rem;
  transition: all 1s;
}
.nav__links {
  display: flex;
  text-align: right;
  transition: all 1s;
  z-index: 999;
}
.nav__item {
  list-style: none;
  margin-left: 1.5rem;
}
.nav.sticky {
  background: #14213d;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 1s;
}

/* Header text */
.sub-header {
  margin-top: 2.5rem;
  height: 77vh;
  opacity: 0;
}
.animated--text {
  margin: 10px 5px;
}

.text h1 {
  font-size: 3vw;
  letter-spacing: 2px;
}

.pretext {
  font-weight: 500;
  text-align: left;
  width: 90%;
  padding: 3px 5px;
  margin-right: 10px;
}

/* Header Buttons */
#btns {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px 50px 30px 50px;
  cursor: pointer;
  transition: all 1s;
}
a #btns:hover {
  background: #ff851b;
  border: 2px solid #ff851b;
}

.profile--pics img {
  border-radius: 10%;
  position: relative;
  width: 80%;
  height: 63vh;
  text-align: center;
  margin-top: 20px;
}

.ham-icon,
.cancel-icon {
  display: none;
}
/* section pretext show text */
.choose--view {
  cursor: pointer;
  color: rgba(253, 189, 49);
  text-decoration: underline;
}

/* section 2 About me  */
.about__heading {
  display: block;
  width: 100%;
  text-align: center;
  margin: 5px 20px;
}
.dummy--pics {
  width: 80%;
}

/* section 3 skills acquired */
.skills-acquired {
  width: 10vw;
  cursor: pointer;
  transition: all 0.4s;
}
.skills-acquired:hover {
  width: 12vw;
  /* background-color: red; */
}
.technical--heading,
.about__heading {
  text-align: center;
  color: #ff851b;
}

.skill--content {
  transition: all 0.5s;
}

.btn-skills {
  border-radius: 10px;
  padding: 5px 15px;
  transition: all 0.5s;
}
.active--btn--skills {
  background-color: rgba(253, 189, 49);
  border: 2px solid rgba(253, 189, 49);
  transition: all 0.5s;
}
/* section 3 special */
.skills-acquired {
  transition: transform 0.4s;
}

.skill-name {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(253, 189, 49);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  transform: rotateX(90deg);
  transition: transform 0.5s;
  transform-origin: bottom;
}

.skill-icon-text:hover img {
  transform: rotateX(90deg);
}

.skill-icon-text:hover .skill-name {
  transform: rotateX(0deg);
}

/* section contact */

.send-mail {
  border-radius: 10rem;
  padding: 15px;
  text-align: center;
  margin: 2.75rem auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: white;
  border: 3px solid white;
}

.contact-modal {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  width: 85vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  color: black;
  padding: 1.25rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__form label {
  font-size: 1.2rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.25rem;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: all 2s;
  box-shadow: none;
  outline: none;
}
.modal__form input:focus,
textarea:focus {
  width: 90%;
  box-shadow: 2px rgba(253, 189, 49);
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}
.btn--close-modal:hover {
  border: none;
}
textarea {
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: block;
  width: 80%;
  height: 60%;
  margin: 10px;
  padding: 10px;
  outline: none;
  box-shadow: none;
}
#form-connect {
  margin: auto;
  margin-top: 10px;
  width: 50vw;
  position: absolute;
  left: 10%;
  right: 10%;
  background: red;
  bottom: 5%;
}
.social-icon {
  font-size: 3.5rem;
  padding: 1.5rem;
  margin: auto;
}

/* footer */
.back-up {
  position: fixed;
  padding: 10px;
  bottom: 3%;
  right: 5%;
  font-size: 25px;
  z-index: 100;
}

#footer {
  width: 90%;
  text-align: center;
}
/* General styling */

/* Lazy loading images */
img {
  transition: all 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* section Revealing */
.sections {
  transition: all 2.5s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/* General styling ends */

/* smaller screen responsiveness */
@media screen and (max-width: 800px) {
  .logo {
    font-size: 2.5vw;
    font-weight: 600;
  }

  .top--header {
    margin-bottom: 7vh;
  }
  #btns {
    width: 100%;
  }
  .nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    width: 90%;
    text-align: center;
    margin-top: 2rem;
  }
  .nav__links {
    display: none;
    z-index: 999;
  }

  .profile--pics img {
    border-radius: 80%;
    height: 35vh;
    width: 70vw;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .animated--text {
    width: 95%;
    margin-bottom: 15px;
  }

  .dummy--pics {
    width: 85vw;
    height: 40vh;
  }
  .text h1 {
    font-size: 5vw;
    letter-spacing: 2px;
  }
  .sections {
    width: 95%;
    margin: 3px;
    padding: 5px;
  }

  .sub-header {
    height: 90vh;
    margin: 3rem 0;
  }
  .pretext {
    margin-right: 0;
  }

  .hamsburger,
  .theme {
    position: absolute;
    width: 20vw;
    left: 70%;
    transition: all 2s;
  }
  .logo--name,
  .hamsburger,
  .theme {
    top: 5px;
  }
  .theme {
    left: 85%;
  }
  .ham-icon,
  .cancel-icon {
    font-size: 5vw;
    display: block;
    top: 5px;
    transition: all 2s;
  }
  .cancel-icon {
    display: none;
  }

  .skills-acquired {
    width: 20vw;
  }
  .skills-acquired:hover {
    width: 22vw;
    /* background-color: red; */
  }

  .contact-modal {
    height: 80vh;
  }

  .social-icon {
    font-size: 2.5rem;
  }
}

/* larger screen responsiveness */
@media screen and (min-width: 800px) {
  /* Header responsiveness */

  .logo {
    font-size: 4vw;
    font-weight: 700;
  }

  .header--links ul {
    display: flex;
    font-size: 1.5vw;
  }

  .form--spacing {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  textarea {
    margin: auto;
    margin-top: 20px;
  }
  .back-up {
    right: 20%;
    bottom: 0;
    font-size: 40px;
  }
  /* .header--links ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 1.5vw;
  } */
}
