.hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  background-color: #6c5ce7;
  margin: 27.5px 0;
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 27.5px solid #6c5ce7;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 27.5px solid #6c5ce7;
}
